nav{
    padding-top: 60px;
}
.nav{
    display:inline-block;
    margin-left: 10%;
}

nav img{
    width: 70%;
}
.nav li{
    display:inline-block;   
 }

.nav{
    float: left;
}

nav form{
    display: inline-block;
    margin-left: 5%;
}

#black{
    background-color: whitesmoke;
}

#white{
    background-color: white;
    box-shadow: 0px 8px 80px #aaa;
}

#slider{
    padding-left: 0px;
    padding-right: 0px;    
}

#article{
    
    padding-top: 5%;
}

#bgg{
    background-color: #222222;
    margin-top: 8%;
    padding-top: 3%;
}

#testblock{
    display: inline-block;
}

#Build{
font-size: 150%;
color: white;
}
#We{
    padding-top: 5%;
    padding-bottom: 2%;
}

#We p {
font-weight: bold;
  font-size: 150%;
  color: Black;  
}

#View {
    text-decoration: none;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
}

.textblack{
    color:black;
    font-weight: bold;
}

#bot{
    background-color: #222222;
    padding-top: 3%;
    color:#CACACA;
}

#bot strong{
    color:white;
}

#bgb{
    background-color: #1D1D1D;
}

#bgb p{
    color:white;
    padding-top: 2%;
    padding-left: 20%;
}
